<h2><%= @figure.name %></h2>

<% @figures.titles.each do |title| %>
<h2>titles: <%= title.name %></h2>
<% end %>

<% @figures.landmarks.each do |landmark| %>
<h2>Landmarks: <%= landmark.name %></h2>
<% end %>